@model IEnumerable<Tyaran.DAL.Entities.Generated.MenuCategory>

<h1>Menu Categories</h1>

<p>
    <a asp-action="Create"
           class="btn btn-primary">
        Create Category
    </a>
</p>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Restaurant ID</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.MenuCatId</td>

                <td>@item.Cartname</td>

                <td>@item.RestaurantId</td>

                <td>

                    <a asp-action="Details"
                           asp-route-id="@item.MenuCatId"
                           class="btn btn-info">
                        Details
                    </a>

                    <a asp-action="Edit"
                           asp-route-id="@item.MenuCatId"
                           class="btn btn-warning">
                        Edit
                    </a>

                    <a asp-action="Delete"
                           asp-route-id="@item.MenuCatId"
                           class="btn btn-danger">
                        Delete
                    </a>

                </td>

            </tr>
        }

    </tbody>

</table>